<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--声明属性文件扫描-->
    <context:property-placeholder location="classpath:DB.properties"></context:property-placeholder>
    <!--配置数据源bean-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${mysql.driver}"></property>
        <property name="url" value="${mysql.url}"></property>
        <property name="username" value="${mysql.username}"></property>
        <property name="password" value="${mysql.password}"></property>
    </bean>
    <!--配置工厂bean-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置mapper扫描bean-->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--<property name="sqlSessionFactory" ref="factory"></property>-->
        <property name="sqlSessionFactoryBeanName" value="factory"></property>
        <property name="basePackage" value="com.xjtu.mapper"></property>
    </bean>
    <!--配置业务层bean-->
    <bean id="us" class="com.xjtu.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"></property>
    </bean>
    <!--基于Scheme-based方式配置AOP-->
    <!--配置前置通知的bean-->
    <bean id="before" class="com.xjtu.advice.BeforeAdvice"></bean>
    <!--配置后置通知的bean-->
    <bean id="after" class="com.xjtu.advice.AfterAdvice"></bean>
    <!--配置切面-->
    <aop:config>
        <!--配置切点-->
        <aop:pointcut id="PC" expression="execution(* com.xjtu.service.UserServiceImpl.checkUserInfoService(..))"></aop:pointcut>
        <!--配置前置通知-->
        <aop:advisor advice-ref="before" pointcut-ref="PC"></aop:advisor>
        <aop:advisor advice-ref="after" pointcut-ref="PC"></aop:advisor>
    </aop:config>
</beans>